*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  min-width: 1400px;
}

p{
  line-height: 30px;
  font-weight: 500;
  color: #2D3E50;
}
/* utility class */

.bg_orange{
  background-color: #FF7A59;
}

.bg_verdeacqua{
  background-color: #01B1B1;
}

.bg_blue{
  background-color: #2D3E50;
}

.bg_azzurrino{
  background-color: #F5F8FA;
}

.brd_rd{
  border-radius: 5px
}

.btn{
  display: inline-block;
  background-color: #FF7A59;
  color: white;
  text-decoration: none;
}

.wh{
  width: 80%;
  margin: auto;
}

.bg_white{
  background-color: white;
}

.link{
  color: #2D3E50;
  text-transform: capitalize;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.Orange_Checkmark{
  width: 15px;
}

.p_10{
  padding: 10px;
}

.p_20{
  padding: 20px;
}

.p_30{
  padding: 30px;
}

.p_40{
  padding: 40px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* /utility class */
 /* header */

#site_header{
  position: relative;
}

#site_header .container_nav_top{
  background-color: #eaf7ffbd;
}

#site_header .navbar_top div.float_left{
  margin-top: 10px;
}

#site_header ul li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}

#site_header ul li a{
  text-decoration: none;
}

#login{
  color: #FF7A59;
  border: 1px solid #FF7A59;
}

.navbar_top ul li a img{
  width: 50%;
  vertical-align: middle;
}

.navbar_bottom{
  padding: 20px 0;
}

.navbar_bottom ul li {
  padding: 0px 10px;
}

#site_header div.container{
  background-image: url('../img/jumbotron.png');
  height: 700px;
  background-position: 100% 80%;
  background-repeat: no-repeat;
  background-size: 80%;
  position: relative;
  background-color: #FFF2EE;
}

.container .hero_text{
  width: 40%;
  margin-left: 10%;
  color: #2D3E50;
}

.hero_text h1{
  font-size: 70px;
  padding-top: 10%;
}

.hero_text p {
  margin: 20px 0;
}

div.hero_text > p:nth-child(4){
  font-size: 12px;
}

.bg_verdino{
  background-color: #8EE3D9;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 5px solid #2D3E50;
  border-bottom: 5px solid #2D3E50;
}
/* /header */
/* main */
/* crescita */
.container_together{
  text-align: center;
  color: #2D3E50;
}

.container_together h2{
  font-size: 30px;
}

.container_together p{
  width: 70%;
  margin: auto;
}

.crm, .card{
  color: #2D3E50;
  box-shadow: 1px 1px 3px #2D3E50;
}

div.crm .container:nth-child(1){
  width: 20%;
}

.crm div a.btn{
  text-align: center;
  margin-left: 15px;
}

div.crm > div:nth-child(2){
  width: 70%;
}

div.crm .container ul li{
  padding: 20px 0;
  list-style: none;
  display: inline-block;
  margin: 5px;
}

.crm > div:nth-child(2) h3{
  font-size: 25px;
  text-transform: capitalize;
}

.crm > div:nth-child(2) p{
  padding: 20px 0;
}

.crm > div:nth-child(2) h4{
  text-transform: uppercase;
  width: 25%;
  height: 10px;
}

.crm > div:nth-child(2) hr{
  width: 80%;
}

.crm > div:nth-child(2) ul li img{
  margin: 0 10px;
}

.card{
  width: 25%;
  margin: 40px 0;
  text-align: center;
}

.card ul li{
  list-style: none;
  margin: 0 10% ;
  text-align: left;
}

.card h3{
  font-size: 25px;
  text-transform: capitalize;
}

.card hr {
  width: 80%;
  margin: auto;
}

.card h4{
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px 0;
}

.card a.btn{
  margin: 40px 0;
  padding: 20px 40px;
}

.crescita > div:nth-child(3) > div:nth-child(2){
  margin: 40px 12.5%;
}
